<!DOCTYPE html>
<html>
<head>
    <title>Sensor TecInf</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fount.css" rel="stylesheet">
		
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/slide.js"></script>
		<script>
	/* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>

</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3">
            			<a href="index.html"><img src="media/logo2.png" alt="logo" height="78" width="180"></a>
            			</div>
        <div class="col-md-4">
            			<!--<div class="col-md-1"> -->
            			<div class="topnav" id="myTopnav">
            			     
            			     <a class="active" href="about.html">Nosotros</a>
            			     <a href="contact.html">Contacto</a>  
            			     <a href="index.html">Inicio</a>
            			     <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                             <i class="fa fa-bars"></i></a>
                        </div>            			     
        </div>
         <div class="col-md-3"></div>
    </div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-7">           
            
            <div class="card">												
				<h5 class="card-header">Integrantes del equipo de hackathon</h5>
				<div class="card-body">
					<div class="row">
						<div class="col-md-12">
                           <p>Equipo: TecInf </p>
                           <p> - Maria de los Angeles Rodriguez Sanchez</p>
                           <p> - Miguel Angel Mateo Casali</p>
                           <p> - Cristian Bogdan Baghiu</p>
                           </p>
						</div> 
					</div>
				<div class="row">
					<div class="col-md-12">
					<!--	<textarea class="form-control" rows="7" id="sensordata"></textarea> -->
					
					
					
					</div>
				</div>
					
				</div>
				<div class="card-footer">
					<!--<div><span id='status_icon' class="dot_green"></span> <span id='status_text'></span></div>-->
				</div>

			</div>
            
            
            









		</div>
		<div class="col-md-2"></div>
	</div>
</div>
	




</body>
</html>